<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
             
          
        <%= form_with(model: @user, url: update_overwork_approval_user_path(@user), local: true, method: :patch) do |f| %>
          
        <% @attendances.zip(@users).each do |attendance, user| %>
           
        <%= f.hidden_field :id, :value => @attendance %>
        <%= f.fields_for "attendances[]", attendance do |af| %>
        <h3 align="center"><%= attendance.user.name %>からの残業申請</h3>
        
        <table class="table table-bordered">
          <thead>
          <tr>
           <th>日付</th>
           <th>曜日</th>
           <th>終了予定時間</th>
           <th>指定勤務終了時間</th>
           <th>時間外時間</th>
           <th>業務処理内容</th>
           <th>指示者確認㊞</th>
           <th>変更</th>
           <th>勤怠を確認する</th>
         </tr>
         </thead>
         
         
       <tbody>
        
         <tr>
          <td><%= attendance.worked_on.to_s(:date) %></td>
          <td><%= %w{日 月 火 水 木 金 土}[attendance.worked_on.wday] %></td>
          <td><%= attendance.finished_overwork_at.to_s(:time) %></td>
          <td><%= format_basic_time(@user.designated_work_start_time) %></td>
          <td><%= attendance.finished_overwork_at.to_s(:time).to_f - format_basic_time(@user.designated_work_start_time).to_f %></td>
          <td><%= attendance.work_process %></td>
          <td><%= af.select :overwork_approval, [["なし", ""],["申請中", "残業申請中"],["承認", "残業承認"],["否認", "残業否認"]],:include_blank => true ,class:"form-control" %></td>
          <td><%= af.check_box(:change, { :checked => false  },checked_value = "1",unchecked_value = "2" ) %></td>
          <td><%= link_to "確認", confirm_user_path , class: "btn btn-primary" %></td>
         </tr>
        
       </tbody>
       </table>
       <% end %>
       <% end %> 
       <div class="modal-footer">
        <%= f.submit "変更を送信する", class: "btn btn-primary" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
       
       
       <% end %>
        
        </div>
      </div>
    </div>
  </div>
</div>